Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-type-static-cast-downcast,
  google-build-using-namespace,
  google-explicit-constructor,
  google-readability-casting,
  misc-redundant-expression,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-use-auto,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-*,
  -performance-no-int-to-ptr,
  readability-identifier-naming,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-misplaced-array-index
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberPrefix,   value: ""         }
  - { key: readability-identifier-naming.PrivateMemberSuffix,   value: "_"        }

  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: ""         }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: "_"        }

  - { key: readability-identifier-naming.PublicMemberPrefix,    value: ""         }
  - { key: readability-identifier-naming.PublicMemberSuffix,    value: "_"        }

  - { key: readability-identifier-naming.NamespacePrefix,       value: ""         }
  - { key: readability-identifier-naming.NamespaceSuffix,       value: ""         }

  - { key: readability-identifier-naming.ClassPrefix,           value: ""         }
  - { key: readability-identifier-naming.StructPrefix,          value: ""         }

  - { key: readability-identifier-naming.FunctionPrefix,        value: ""         }
  - { key: readability-identifier-naming.VariablePrefix,        value: ""         }

  - { key: readability-identifier-naming.ConstexprVariablePrefix, value: "k"      }
  - { key: readability-identifier-naming.GlobalConstantPrefix,   value: "k"      }

  - { key: readability-identifier-naming.EnumConstantPrefix,     value: "k"      }
  - { key: readability-identifier-naming.MemberEnumConstantPrefix, value: "k"    }

  - { key: modernize-use-auto.MinTypeNameLength,  value: "8"                    }
  - { key: modernize-use-auto.RemoveStars,        value: "false"                }

  - { key: performance-move-const-arg.CheckTriviallyCopyableMove, value: "false" }

  - { key: bugprone-assignment-in-if-condition.AllowConsecutiveAssignments, value: "false" }
